*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

#navbar {
  align-items :center;
  overflow: hidden;
  background-color: black;
  padding: 10px 5px;
  height: 90px  ;
  max-height: fit-content;
  width: 1520px;
  padding: 0px 5px 0px 10px;
}


    /* Navbar links */
#navbar a {
  float: left;
    color: yellow;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    line-height: 61px;
    border-radius: 4px;
    font-family:'Comic Neue',serif;
    font-weight :500;
    justify-content: space-around;
    image-resolution: 100%;
}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#navbar a.logo {
    padding: 11px 0px 2px 20px;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .parallax {
    /* The image used */
    background-image: url("Images/landing\ page.png");
    /* Set a specific height */
    min-height: 910px;

    /* Create the parallax scrolling effect */
    scroll-behavior: smooth;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .AboutBackground{
    background-image: url("Images/blue\ backround.png");
    min-height: 1020px;
    max-width: 1920px;


  }
  .aboutme{
  font-family:'Bangers';
    color: #F2FC2B;
    line-height: 1.8;
    text-align: center;
    font-size: 86px;
    font-weight:normal;
}

.pic1{
height: 80px;
width: 80px;
padding: 100px 0px 0px 0px;
}

.heading{
  font-family :  'Comic Neue' ;
  text-align: center;
  font-size: 40px;
  padding: 50px 0px 0px 0px;
}


#text{
  font-size: 50px;
  text-align: center;
  color: #F2FC2B;
  font-family: 'Fredoka One';
  text-shadow: darkslategrey;
  opacity: 100%;
  padding:  20px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myStory{
  text-align: center;
  font-family: 'Fredoka One';
  padding: 20px 0px 0px 0px;

}

#story{
  font-size: 40px;
}


#info{
  text-align: justify;
  color:white;
  line-height: normal;
  font-size:21px;
  font-family:'Comic Neue',serif;
  font-weight:500;
  letter-spacing: 0.2px;
}


 .SkillsBackground{
  background-image: url("Images/SKILLS\ BACKGROUND\ 3.png");
  max-height: 1080px;
  max-width: 1920px;
}

.grid-container {
  display: grid;
  gap: 10px;
  background-color: transparent;
  padding: 10px;
  max-height: 1080px;
  max-width: 1920px;
  }

  .grid-item {
    background-color: transparent;
    padding: 20px;

  }

.SkillsPic{
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 50px 0px 0px 195px;
}

.CodingPic{
  grid-column: 1;
  grid-row: 2 / span 2;
  padding:  155px
                  0px
                  0px
                  1px;

}

 .GraphicDesignPic{
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  padding: 100px 0px 0px 350px;
}

.PhotographyPic{
  grid-column: 3;
  grid-row: 3/span3 ;
  padding: 0px 0px 0px 127px;
}


